.content img {
    max-width: 100%;
}

h1 {
    color: #613a43;
}

h2 {
    color: #849974;
}

h3 {
    color: #849974;
}

p {
    color: #613a43;
}

.navbar-header {
    color: #613a43;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img[src*='#left'] {
    float: left;
}
